flows_raspberrypi.json
[
    {
        "id": "5ce89f7.514226",
        "type": "tab",
        "label": "Raspberry Pi Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4733d94.dc48d",
        "type": "mqtt in",
        "z": "5ce89f7.514226",
        "name": "",
        "topic": "homebridge/from/#",
        "qos": "0",
        "broker": "8b1c1a78.203df8",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "c531edb5.2b483",
                "d3a3e4b7.e233c8",
                "519f6394.a350ac",
                "a5877ef7.e1f1c"
            ]
        ]
    },
    {
        "id": "2d8196a6.af9bfa",
        "type": "mqtt out",
        "z": "5ce89f7.514226",
        "name": "",
        "topic": "homebridge/to/add",
        "qos": "",
        "retain": "",
        "broker": "8b1c1a78.203df8",
        "x": 350,
        "y": 1220,
        "wires": []
    },
    {
        "id": "51e25510.cf434c",
        "type": "inject",
        "z": "5ce89f7.514226",
        "name": "Add Switch",
        "topic": "",
        "payload": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"service\":\"Fan\",\"RotationSpeed\":{\"minValue\":0,\"maxValue\":2,\"minStep\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 121.0000228881836,
        "y": 1258.666711807251,
        "wires": [
            [
                "2d8196a6.af9bfa"
            ]
        ]
    },
    {
        "id": "e59ccf34.18c87",
        "type": "inject",
        "z": "5ce89f7.514226",
        "name": "Remove Switch",
        "topic": "",
        "payload": "{\"name\":\"Speaker\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 141.0000228881836,
        "y": 1318.666711807251,
        "wires": [
            [
                "d6f4b0c5.3ded1"
            ]
        ]
    },
    {
        "id": "d6f4b0c5.3ded1",
        "type": "mqtt out",
        "z": "5ce89f7.514226",
        "name": "",
        "topic": "homebridge/to/remove",
        "qos": "",
        "retain": "",
        "broker": "8b1c1a78.203df8",
        "x": 361.0000228881836,
        "y": 1318.666711807251,
        "wires": []
    },
    {
        "id": "c9bd6ff5.e0559",
        "type": "inject",
        "z": "5ce89f7.514226",
        "name": "Add Regulable Lamp",
        "topic": "",
        "payload": "{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"service\":\"Lightbulb\",\"Brightness\":\"default\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "2d8196a6.af9bfa"
            ]
        ]
    },
    {
        "id": "c531edb5.2b483",
        "type": "switch",
        "z": "5ce89f7.514226",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"name\":\"AudioIn\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":true}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"AudioIn\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":false}",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "ea6952c2.7d8b4"
            ],
            [
                "4f694bd7.872e04"
            ]
        ]
    },
    {
        "id": "4e6b0086.809e6",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": ".audioin/./do.sh | echo > .audioin/income",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1140,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ea6952c2.7d8b4",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Audio IN ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 740,
        "y": 740,
        "wires": [
            [
                "4e6b0086.809e6"
            ]
        ]
    },
    {
        "id": "4f694bd7.872e04",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Audio IN OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 750,
        "y": 780,
        "wires": [
            [
                "4e6b0086.809e6"
            ]
        ]
    },
    {
        "id": "d3a3e4b7.e233c8",
        "type": "switch",
        "z": "5ce89f7.514226",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"name\":\"HDMI\",\"service_name\":\"HDMI\",\"characteristic\":\"On\",\"value\":true}",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 585.9999961853027,
        "y": 802.0000858306885,
        "wires": [
            [
                "1603cd19.d23683"
            ]
        ]
    },
    {
        "id": "1603cd19.d23683",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "sudo /home/pi/.HDMI/./do.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1101.0000610351562,
        "y": 811.000036239624,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8e669a97.ff3d38",
        "type": "inject",
        "z": "5ce89f7.514226",
        "name": "",
        "topic": "homebridge/to/set",
        "payload": "{\"name\":\"Speaker\",\"service name\":\"Volumen\",\"service\":\"Volume\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 131.0000228881836,
        "y": 1418.666711807251,
        "wires": [
            [
                "2d8196a6.af9bfa"
            ]
        ]
    },
    {
        "id": "519f6394.a350ac",
        "type": "switch",
        "z": "5ce89f7.514226",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":0}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":1}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":2}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"On\",\"value\":true}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"On\",\"value\":false}",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 570,
        "y": 940,
        "wires": [
            [
                "fa6ba84b.2a1198"
            ],
            [
                "f4d32abe.5a9618"
            ],
            [
                "3cdd1d49.f2f3e2"
            ],
            [
                "95c9b828.d146e8"
            ],
            [
                "f29ff185.afbeb"
            ]
        ]
    },
    {
        "id": "fa6ba84b.2a1198",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Fan OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "ee2d8fc1.3be71"
            ]
        ]
    },
    {
        "id": "f4d32abe.5a9618",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Fan ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "2",
        "output": "str",
        "x": 740,
        "y": 920,
        "wires": [
            [
                "ee2d8fc1.3be71"
            ]
        ]
    },
    {
        "id": "ee2d8fc1.3be71",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "bash .fan/do.sh | echo > .fan/incoming",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f7cfe9da.6ab3d8",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Rele1 ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 740,
        "y": 1040,
        "wires": [
            [
                "ca7765ee.9a4df8"
            ]
        ]
    },
    {
        "id": "c43469bb.e7d268",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Rele1 OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 750,
        "y": 1080,
        "wires": [
            [
                "ca7765ee.9a4df8"
            ]
        ]
    },
    {
        "id": "99d2bd54.b8773",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Rele2 OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "4b8d157b.02a05c"
            ]
        ]
    },
    {
        "id": "19804b9.fc64fb4",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Rele2 ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "4b8d157b.02a05c"
            ]
        ]
    },
    {
        "id": "3cdd1d49.f2f3e2",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "FAN MAX",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3",
        "output": "str",
        "x": 740,
        "y": 940,
        "wires": [
            [
                "ee2d8fc1.3be71"
            ]
        ]
    },
    {
        "id": "ca7765ee.9a4df8",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "bash .relays/do.sh | echo > .relays/incoming1",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1170,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4b8d157b.02a05c",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "bash .relays/do.sh | echo > .relays/incoming2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1170,
        "y": 1140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "95c9b828.d146e8",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Request ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "9",
        "output": "str",
        "x": 750,
        "y": 960,
        "wires": [
            [
                "8f4579b1.2c7568"
            ]
        ]
    },
    {
        "id": "a5877ef7.e1f1c",
        "type": "switch",
        "z": "5ce89f7.514226",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"name\":\"Enchufe 1\",\"service_name\":\"Enchufe 1\",\"characteristic\":\"On\",\"value\":true}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"Enchufe 1\",\"service_name\":\"Enchufe 1\",\"characteristic\":\"On\",\"value\":false}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"Enchufe 2\",\"service_name\":\"Enchufe 2\",\"characteristic\":\"On\",\"value\":true}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "{\"name\":\"Enchufe 2\",\"service_name\":\"Enchufe 2\",\"characteristic\":\"On\",\"value\":false}",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "f7cfe9da.6ab3d8"
            ],
            [
                "c43469bb.e7d268"
            ],
            [
                "19804b9.fc64fb4"
            ],
            [
                "99d2bd54.b8773"
            ]
        ]
    },
    {
        "id": "f29ff185.afbeb",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Request OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "8",
        "output": "str",
        "x": 760,
        "y": 980,
        "wires": [
            [
                "8f4579b1.2c7568"
            ]
        ]
    },
    {
        "id": "8f4579b1.2c7568",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "bash .fan/do.sh | echo > .fan/request",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cbbe0a2e.a0e488",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Define volumen por slider",
        "x": 742.300106048584,
        "y": 541.3000087738037,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c002a337.47b6",
        "type": "template",
        "z": "5ce89f7.514226",
        "name": "Armador de comando",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "amixer sset 'Master' {{payload}}%",
        "output": "str",
        "x": 478.30005645751953,
        "y": 540.8000564575195,
        "wires": [
            [
                "cbbe0a2e.a0e488"
            ]
        ]
    },
    {
        "id": "a90c7db4.bc404",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "cat /sys/class/thermal/thermal_zone0/temp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Muestra temperatura de la RPi",
        "x": 375.1000061035156,
        "y": 412.1000061035156,
        "wires": [
            [
                "843b883d.132a98"
            ],
            [],
            []
        ]
    },
    {
        "id": "baf8c35b.6da9d",
        "type": "inject",
        "z": "5ce89f7.514226",
        "name": "Bucle",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 122.10000610351562,
        "y": 458.0000057220459,
        "wires": [
            [
                "a90c7db4.bc404",
                "5e2c98e3.fb8048"
            ]
        ]
    },
    {
        "id": "843b883d.132a98",
        "type": "function",
        "z": "5ce89f7.514226",
        "name": "Funcion achicadora",
        "func": "msg.payload = Math.round(msg.payload/100);\nmsg.payload = parseFloat(msg.payload/10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 656.1000556945801,
        "y": 398.8000068664551,
        "wires": [
            [
                "560631f0.ea8dd"
            ]
        ]
    },
    {
        "id": "1b7e4a9a.efb905",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": ".audio/./do.sh | echo > .audio/income",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Define volumen digitalmente",
        "x": 596.1000518798828,
        "y": 331.9000053405762,
        "wires": [
            [],
            [],
            [
                "9ed8a985.ad9708"
            ]
        ]
    },
    {
        "id": "792912d0.b8e0bc",
        "type": "function",
        "z": "5ce89f7.514226",
        "name": "Enterizador",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 371.1000061035156,
        "y": 308.4000053405762,
        "wires": [
            [
                "1b7e4a9a.efb905",
                "efc35a40.c6e918"
            ]
        ]
    },
    {
        "id": "6d46ff1f.026ec",
        "type": "change",
        "z": "5ce89f7.514226",
        "name": "Shutdown",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "sudo shutdown now",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350.10005950927734,
        "y": 162.00000190734863,
        "wires": [
            [
                "13ece7a0.3d6938"
            ]
        ]
    },
    {
        "id": "efc35a40.c6e918",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "cat .audio/value",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": ".1",
        "oldrc": false,
        "name": "Muestra volumen guardado",
        "x": 599.1000061035156,
        "y": 272.50000381469727,
        "wires": [
            [
                "bb37c976.c0bb78"
            ],
            [],
            [
                "9ed8a985.ad9708"
            ]
        ]
    },
    {
        "id": "4720c3d5.93279c",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "echo > .audio/value",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Almacena volumen registrado",
        "x": 509.10008239746094,
        "y": 613.5000095367432,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d82ae4ec.0288d8",
        "type": "debug",
        "z": "5ce89f7.514226",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1219.5000381469727,
        "y": 637.0000095367432,
        "wires": []
    },
    {
        "id": "48709ad5.ae1dd4",
        "type": "function",
        "z": "5ce89f7.514226",
        "name": "Enterizador",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 928.0000114440918,
        "y": 708.0000095367432,
        "wires": [
            [
                "4e6b0086.809e6"
            ]
        ]
    },
    {
        "id": "13ece7a0.3d6938",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Apaga RPi",
        "x": 545.1000556945801,
        "y": 160.90001487731934,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5e2c98e3.fb8048",
        "type": "exec",
        "z": "5ce89f7.514226",
        "command": "sudo cat /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Muestra clock de la RPi",
        "x": 358.1000061035156,
        "y": 474.50000762939453,
        "wires": [
            [
                "1aa02eeb.af2121"
            ],
            [],
            []
        ]
    },
    {
        "id": "334b767c.72454a",
        "type": "rpi-gpio out",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "3",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 429.10005950927734,
        "y": 95.20000648498535,
        "wires": []
    },
    {
        "id": "4066d984.e153d8",
        "type": "rpi-gpio out",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "5",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ed8a985.ad9708",
        "type": "debug",
        "z": "5ce89f7.514226",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880.1000366210938,
        "y": 336,
        "wires": []
    },
    {
        "id": "bca2942f.d9fd48",
        "type": "rpi-gpio out",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 349.1000061035156,
        "y": 221.60000610351562,
        "wires": []
    },
    {
        "id": "eb9be1f.213f62",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "1",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 739.5001068115234,
        "y": 690.0000095367432,
        "wires": [
            [
                "48709ad5.ae1dd4"
            ]
        ]
    },
    {
        "id": "a078b140.c716a",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "0",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 222.9000244140625,
        "y": 589.0000324249268,
        "wires": [
            [
                "c002a337.47b6",
                "4720c3d5.93279c"
            ]
        ]
    },
    {
        "id": "9c1ac0d4.aa352",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "3",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 152.10000610351562,
        "y": 334.0000057220459,
        "wires": [
            [
                "792912d0.b8e0bc"
            ]
        ]
    },
    {
        "id": "1b06122d.2e7bae",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "4",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 149.10000610351562,
        "y": 276.00000381469727,
        "wires": [
            [
                "792912d0.b8e0bc"
            ]
        ]
    },
    {
        "id": "3ef5f753.5f7038",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "7",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 141.10000610351562,
        "y": 163.4000129699707,
        "wires": [
            [
                "6d46ff1f.026ec"
            ]
        ]
    },
    {
        "id": "4139f475.33f6fc",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "8",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 231,
        "y": 80,
        "wires": [
            [
                "334b767c.72454a",
                "4066d984.e153d8"
            ]
        ]
    },
    {
        "id": "acdcaab6.6c8308",
        "type": "blynk-ws-in-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "2",
        "pin_all": 0,
        "client": "95c6d56c.9da838",
        "x": 149.10000228881836,
        "y": 221.40000343322754,
        "wires": [
            [
                "bca2942f.d9fd48"
            ]
        ]
    },
    {
        "id": "560631f0.ea8dd",
        "type": "blynk-ws-out-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "5",
        "pinmode": 0,
        "client": "95c6d56c.9da838",
        "x": 896.1000595092773,
        "y": 401.0000066757202,
        "wires": []
    },
    {
        "id": "bb37c976.c0bb78",
        "type": "blynk-ws-out-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "0",
        "pinmode": 0,
        "client": "95c6d56c.9da838",
        "x": 883.1000366210938,
        "y": 261.00000381469727,
        "wires": []
    },
    {
        "id": "1aa02eeb.af2121",
        "type": "function",
        "z": "5ce89f7.514226",
        "name": "Funcion achicadora",
        "func": "msg.payload = Math.round(msg.payload/100000);\nmsg.payload = parseFloat(msg.payload/10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 480,
        "wires": [
            [
                "5f55ccbf.2004a4"
            ]
        ]
    },
    {
        "id": "5f55ccbf.2004a4",
        "type": "blynk-ws-out-write",
        "z": "5ce89f7.514226",
        "name": "",
        "pin": "6",
        "pinmode": 0,
        "client": "95c6d56c.9da838",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b1c1a78.203df8",
        "type": "mqtt-broker",
        "z": "",
        "name": "RasPi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "95c6d56c.9da838",
        "type": "blynk-ws-client",
        "z": "",
        "name": "",
        "path": "ws://192.168.1.34:8080/websockets",
        "key": "30483c9fc6e547739731740bbf57aa3a",
        "dbg_all": false,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    }
]
