flows_raspberrypi.json
[{"id":"3fa62abf.6abd16","type":"tab","label":"Raspberry Pi Flow","disabled":false,"info":""},{"id":"2fbda0ba.58455","type":"mqtt-broker","z":"","name":"RasPi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8463ebf1.6066c8","type":"mqtt in","z":"3fa62abf.6abd16","name":"","topic":"homebridge/from/#","qos":"0","broker":"2fbda0ba.58455","x":110,"y":840,"wires":[["db9b7e96.a1e5b","b59f8923.7325f8","ee832bab.304d28","dd5306d1.294568","c63b6e0d.1f5f9"]]},{"id":"e6c7ed21.7f2db","type":"mqtt out","z":"3fa62abf.6abd16","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"2fbda0ba.58455","x":350,"y":1220,"wires":[]},{"id":"225a1283.d0c0ee","type":"inject","z":"3fa62abf.6abd16","name":"Add Switch","topic":"","payload":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"service\":\"Fan\",\"RotationSpeed\":{\"minValue\":0,\"maxValue\":2,\"minStep\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.0000228881836,"y":1258.666711807251,"wires":[["e6c7ed21.7f2db"]]},{"id":"c5b584a5.8e3758","type":"inject","z":"3fa62abf.6abd16","name":"Remove Switch","topic":"","payload":"{\"name\":\"Speaker\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141.0000228881836,"y":1318.666711807251,"wires":[["98e3f316.fbc1c"]]},{"id":"98e3f316.fbc1c","type":"mqtt out","z":"3fa62abf.6abd16","name":"","topic":"homebridge/to/remove","qos":"","retain":"","broker":"2fbda0ba.58455","x":361.0000228881836,"y":1318.666711807251,"wires":[]},{"id":"b776c212.3d49","type":"inject","z":"3fa62abf.6abd16","name":"Add Regulable Lamp","topic":"","payload":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"service\":\"Lightbulb\",\"Brightness\":\"default\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1200,"wires":[["e6c7ed21.7f2db"]]},{"id":"db9b7e96.a1e5b","type":"switch","z":"3fa62abf.6abd16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"name\":\"AudioIn\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":true}","vt":"str"},{"t":"eq","v":"{\"name\":\"AudioIn\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":false}","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":760,"wires":[["86afe01a.377f"],["174fc050.ed513"]]},{"id":"629fd342.427b5c","type":"exec","z":"3fa62abf.6abd16","command":"bash .audio/do.sh | echo > .audio/incoming","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":760,"wires":[[],["481c6560.5d072c"],[]]},{"id":"86afe01a.377f","type":"template","z":"3fa62abf.6abd16","name":"Audio IN ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":740,"y":740,"wires":[["629fd342.427b5c"]]},{"id":"174fc050.ed513","type":"template","z":"3fa62abf.6abd16","name":"Audio IN OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":750,"y":780,"wires":[["629fd342.427b5c"]]},{"id":"481c6560.5d072c","type":"debug","z":"3fa62abf.6abd16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1440,"y":960,"wires":[]},{"id":"dd5306d1.294568","type":"debug","z":"3fa62abf.6abd16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":700,"wires":[]},{"id":"b59f8923.7325f8","type":"switch","z":"3fa62abf.6abd16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"name\":\"HDMI\",\"service_name\":\"HDMI\",\"characteristic\":\"On\",\"value\":true}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":860,"wires":[["747bea63.7914b4"]]},{"id":"747bea63.7914b4","type":"exec","z":"3fa62abf.6abd16","command":"sudo /home/pi/.HDMI/./do.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":860,"wires":[[],["481c6560.5d072c"],[]]},{"id":"a107bfc2.20eff","type":"inject","z":"3fa62abf.6abd16","name":"","topic":"homebridge/to/set","payload":"{\"name\":\"Speaker\",\"service name\":\"Volumen\",\"service\":\"Volume\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.0000228881836,"y":1418.666711807251,"wires":[["e6c7ed21.7f2db"]]},{"id":"ee832bab.304d28","type":"switch","z":"3fa62abf.6abd16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":0}","vt":"str"},{"t":"eq","v":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":1}","vt":"str"},{"t":"eq","v":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"RotationSpeed\",\"value\":2}","vt":"str"},{"t":"eq","v":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"On\",\"value\":true}","vt":"str"},{"t":"eq","v":"{\"name\":\"FanTest\",\"service_name\":\"Fan Test\",\"characteristic\":\"On\",\"value\":false}","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":940,"wires":[["ea39caa8.fae658"],["eccb4bf6.0f68e8"],["67de6166.30141"],["7ba7b342.43af5c"],["5d8e5a1c.e37144"]]},{"id":"ea39caa8.fae658","type":"template","z":"3fa62abf.6abd16","name":"Fan OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":740,"y":900,"wires":[["d2a372e4.cc554"]]},{"id":"eccb4bf6.0f68e8","type":"template","z":"3fa62abf.6abd16","name":"Fan ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":740,"y":920,"wires":[["d2a372e4.cc554"]]},{"id":"d2a372e4.cc554","type":"exec","z":"3fa62abf.6abd16","command":"bash .fan/do.sh | echo > .fan/incoming","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":920,"wires":[[],["481c6560.5d072c"],[]]},{"id":"88a243a0.98f21","type":"template","z":"3fa62abf.6abd16","name":"Rele1 ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":740,"y":1040,"wires":[["330a05e6.03baaa"]]},{"id":"5b194e76.c6e94","type":"template","z":"3fa62abf.6abd16","name":"Rele1 OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":750,"y":1080,"wires":[["330a05e6.03baaa"]]},{"id":"923d7e8b.160d","type":"template","z":"3fa62abf.6abd16","name":"Rele2 OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":750,"y":1160,"wires":[["d56ee756.192198"]]},{"id":"f3ba5a55.c10768","type":"template","z":"3fa62abf.6abd16","name":"Rele2 ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":740,"y":1120,"wires":[["d56ee756.192198"]]},{"id":"67de6166.30141","type":"template","z":"3fa62abf.6abd16","name":"FAN MAX","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2","output":"str","x":740,"y":940,"wires":[["d2a372e4.cc554"]]},{"id":"330a05e6.03baaa","type":"exec","z":"3fa62abf.6abd16","command":"bash .relays/do.sh | echo > .relays/incoming1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":1060,"wires":[[],["481c6560.5d072c"],[]]},{"id":"d56ee756.192198","type":"exec","z":"3fa62abf.6abd16","command":"bash .relays/do.sh | echo > .relays/incoming2","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":1140,"wires":[[],["481c6560.5d072c"],[]]},{"id":"7ba7b342.43af5c","type":"template","z":"3fa62abf.6abd16","name":"Request ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"9","output":"str","x":750,"y":960,"wires":[["d46a96cc.187ed8"]]},{"id":"c63b6e0d.1f5f9","type":"switch","z":"3fa62abf.6abd16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"name\":\"Enchufe 1\",\"service_name\":\"Enchufe 1\",\"characteristic\":\"On\",\"value\":true}","vt":"str"},{"t":"eq","v":"{\"name\":\"Enchufe 1\",\"service_name\":\"Enchufe 1\",\"characteristic\":\"On\",\"value\":false}","vt":"str"},{"t":"eq","v":"{\"name\":\"Enchufe 2\",\"service_name\":\"Enchufe 2\",\"characteristic\":\"On\",\"value\":true}","vt":"str"},{"t":"eq","v":"{\"name\":\"Enchufe 2\",\"service_name\":\"Enchufe 2\",\"characteristic\":\"On\",\"value\":false}","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":1100,"wires":[["88a243a0.98f21"],["5b194e76.c6e94"],["f3ba5a55.c10768"],["923d7e8b.160d"]]},{"id":"5d8e5a1c.e37144","type":"template","z":"3fa62abf.6abd16","name":"Request OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"8","output":"str","x":760,"y":980,"wires":[["d46a96cc.187ed8"]]},{"id":"d46a96cc.187ed8","type":"exec","z":"3fa62abf.6abd16","command":"bash .fan/do.sh | echo > .fan/request","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":980,"wires":[[],[],[]]}]