Node-Red-Flow.txt
[{"id":"3d2d32f4.da745e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca406ecf.93dc3","type":"serial out","z":"3d2d32f4.da745e","name":"Arduino","serial":"891a829a.15655","x":760,"y":320,"wires":[]},{"id":"3c1ebf30.9da16","type":"inject","z":"3d2d32f4.da745e","name":"ON","topic":"homebridge/to/set","payload":"{\"name\": \"Switch 1\", \"service_name\": \"light\", \"characteristic\": \"On\", \"value\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":140,"wires":[["7fcab108.6b972"]]},{"id":"8d4cdcc7.70e72","type":"inject","z":"3d2d32f4.da745e","name":"OFF","topic":"homebridge/to/set","payload":"{\"name\": \"Switch 1\", \"service_name\": \"light\", \"characteristic\": \"On\", \"value\": false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":220,"wires":[["7fcab108.6b972"]]},{"id":"cc01db1f.187948","type":"mqtt in","z":"3d2d32f4.da745e","name":"","topic":"homebridge/from/#","qos":"0","broker":"a5841cbf.97bd6","x":350,"y":320,"wires":[["315b74bd.827c6c"]]},{"id":"26329d80.4056c2","type":"mqtt out","z":"3d2d32f4.da745e","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"a5841cbf.97bd6","x":590,"y":420,"wires":[]},{"id":"7a7da607.2bb1c8","type":"inject","z":"3d2d32f4.da745e","name":"Add Switch","topic":"","payload":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"service\":\"Switch\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":440,"wires":[["26329d80.4056c2"]]},{"id":"315b74bd.827c6c","type":"change","z":"3d2d32f4.da745e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":true}","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":false}","fromt":"str","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["ca406ecf.93dc3","773c66df.78a308"]]},{"id":"7fcab108.6b972","type":"mqtt out","z":"3d2d32f4.da745e","name":"","topic":"homebridge/to/set","qos":"","retain":"true","broker":"a5841cbf.97bd6","x":600,"y":180,"wires":[]},{"id":"d8cd4a5a.fb91f8","type":"inject","z":"3d2d32f4.da745e","name":"Remove Switch","topic":"","payload":"{\"name\":\"Switch 2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":500,"wires":[["bd67290.5ea95d8"]]},{"id":"bd67290.5ea95d8","type":"mqtt out","z":"3d2d32f4.da745e","name":"","topic":"homebridge/to/remove","qos":"","retain":"","broker":"a5841cbf.97bd6","x":610,"y":500,"wires":[]},{"id":"6993baaa.5c85f4","type":"inject","z":"3d2d32f4.da745e","name":"Add Regulable Lamp","topic":"","payload":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"service\":\"Lightbulb\",\"Brightness\":\"default\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":400,"wires":[["26329d80.4056c2"]]},{"id":"773c66df.78a308","type":"debug","z":"3d2d32f4.da745e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"891a829a.15655","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a5841cbf.97bd6","type":"mqtt-broker","z":"","name":"RasPi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]