Node-Red-Flow
[{"id":"6b36817f.62dcf","type":"serial out","z":"b29a78f9.226ad8","name":"Arduino","serial":"c90bf9fd.df4478","x":854,"y":492.0000247955322,"wires":[]},{"id":"1f59bd89.c122f2","type":"inject","z":"b29a78f9.226ad8","name":"ON","topic":"","payload":"{\"name\": \"Switch 1\", \"service_name\": \"light\", \"characteristic\": \"On\", \"value\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":140,"wires":[["8bffab39.d27d78","3bca85ee.29a6ca"]]},{"id":"3602baf7.dca296","type":"inject","z":"b29a78f9.226ad8","name":"OFF","topic":"","payload":"{\"name\": \"Switch 1\", \"service_name\": \"light\", \"characteristic\": \"On\", \"value\": false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":220,"wires":[["8bffab39.d27d78"]]},{"id":"71481c65.798514","type":"mqtt in","z":"b29a78f9.226ad8","name":"","topic":"homebridge/from/#","qos":"0","broker":"f33edf3d.c3da9","x":296.0000228881836,"y":316.0000190734863,"wires":[["3da1a939.821c36"]]},{"id":"d2c97949.97a5d8","type":"mqtt out","z":"b29a78f9.226ad8","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"f33edf3d.c3da9","x":590,"y":420,"wires":[]},{"id":"71032a1e.9abac4","type":"inject","z":"b29a78f9.226ad8","name":"Add Switch","topic":"","payload":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"service\":\"Switch\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":440,"wires":[["d2c97949.97a5d8"]]},{"id":"3da1a939.821c36","type":"change","z":"b29a78f9.226ad8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":true}","fromt":"str","to":"1.1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 1\",\"service_name\":\"light\",\"characteristic\":\"On\",\"value\":false}","fromt":"str","to":"1.0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"characteristic\":\"Brightness\",\"value\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"characteristic\":\"On\",\"value\":false}","fromt":"str","to":"2.0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"characteristic\":\"On\",\"value\":true}","fromt":"str","to":"2.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":467.0001449584961,"y":267.00004959106445,"wires":[["3a84581e.683bf8"]]},{"id":"e572b573.96ea08","type":"inject","z":"b29a78f9.226ad8","name":"Remove Switch","topic":"","payload":"{\"name\":\"Switch 2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":500,"wires":[["506508e2.1c81e8"]]},{"id":"506508e2.1c81e8","type":"mqtt out","z":"b29a78f9.226ad8","name":"","topic":"homebridge/to/remove","qos":"","retain":"","broker":"f33edf3d.c3da9","x":610,"y":500,"wires":[]},{"id":"69950a0c.5e4394","type":"inject","z":"b29a78f9.226ad8","name":"Add Regulable Lamp","topic":"","payload":"{\"name\":\"Switch 2\",\"service_name\":\"lighb\",\"service\":\"Lightbulb\",\"Brightness\":\"default\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":400,"wires":[["d2c97949.97a5d8"]]},{"id":"8bffab39.d27d78","type":"mqtt out","z":"b29a78f9.226ad8","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"f33edf3d.c3da9","x":610,"y":140,"wires":[]},{"id":"3a84581e.683bf8","type":"change","z":"b29a78f9.226ad8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"}","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"2.1.","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\"2.1.\"Switch 1\",\"service_name\"2.1.\"light\",\"characteristic\"2.1.\"On\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\"2.1.\"Switch 2\",\"service_name\"2.1.\"lighb\",\"characteristic\"2.1.\"Brightness\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"name\"2.1.\"Switch 2\",\"service_name\"2.1.\"lighb\",\"characteristic\"2.1.\"On\"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":624.8637161254883,"y":316.81823539733887,"wires":[["869651b5.1233c"]]},{"id":"869651b5.1233c","type":"mqtt out","z":"b29a78f9.226ad8","name":"","topic":"arduino/to/set","qos":"","retain":"","broker":"f33edf3d.c3da9","x":841.4091033935547,"y":264.9091281890869,"wires":[]},{"id":"3bca85ee.29a6ca","type":"mqtt out","z":"b29a78f9.226ad8","name":"","topic":"homebridge/from/get","qos":"","retain":"","broker":"f33edf3d.c3da9","x":616.2273178100586,"y":216.5454559326172,"wires":[]},{"id":"a58281b2.585f2","type":"mqtt in","z":"b29a78f9.226ad8","name":"","topic":"arduino/to/set","qos":"2","broker":"f33edf3d.c3da9","x":789.2272872924805,"y":416.18184661865234,"wires":[["6b36817f.62dcf"]]},{"id":"c90bf9fd.df4478","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f33edf3d.c3da9","type":"mqtt-broker","z":"","name":"RasPi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
